body {
  background-color: #f6f6f6;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
  margin-left: 3rem;
  margin-right: 3rem;
  font-family: sans-serif;
}
main {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1fr;
  gap: 1.5rem;
}
#input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
#input-container input, button, select {
  border: none;
  outline: none;
  padding: 1rem 1.2rem;
  border-radius: 3px;
  font-size: 1.1rem;
}
input, select {
  background-color: #053a574b;
  /* flex: 1fr; */
}
button {
  background: #004d76;
  color: #f0eeee;
}
select>option {
  background-color: rgba(0, 70, 128, 0.61);
}
section {
  flex: 15rem;
  background-color: #f0eeee;
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 255, .2);
}

#all-episodes {
  display: flex;
  flex-wrap: wrap;
  flex: 1fr;
  gap: 1.5rem;
}

.title {
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 0;
}

#summary {
  padding-left: 1rem;
  padding-right: 1rem;
  color: rgb(63, 63, 63);
}

.img {
  display: flex;
  width: auto;
  margin: 0 auto;
}