body {
  background-color: #f6f6f6;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  margin-left: 3rem;
  margin-right: 3rem;
  font-family: sans-serif;
}
section {
  width: 300px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.title {
  border: 2.5px solid black;
  border-radius: 10px;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 0;
}

#summary {
  padding-left: 1rem;
  padding-right: 1rem;
  color: rgb(63, 63, 63);
}

.img {
  display: flex;
  width: auto;
  margin: 0 auto;
}
